// https://www.colourlovers.com/palette/4605179/another_babys_room

$colorButton: #9A93E2;

@mixin labelText() {
    background: #000;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 1px 6px;
    text-transform: uppercase;
}

@mixin circleTextBase() {
    border-radius: 50%;
    border: 1px dotted rgba(0, 0, 0, 0.4);
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 auto;
}

@mixin circleText() {
    @include circleTextBase();
    background: rgba(242, 169, 215, 0.9);
}

@mixin circleTextAlt() {
    @include circleTextBase();
    background: rgba(169, 216, 242, 0.8);
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    touch-action: manipulation;
}

// hide number input up/down arrows
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input, textarea {
    padding: 2px 4px;
    width: 100%;
}

.section {
    margin-bottom: 20px;
}

.label {
    @include labelText();

    .text-wrapper {
        padding: 1px 0;
    }
}

.h2 {
    border-bottom: 1px dotted #000;
    font-size: 2rem;

    .label {
        background: #A9F2E4;
        color: #000;
        font-size: 16px;

    }
}

.h4 {
    font-size: 1.5rem;
}

dt {
    clear: left;
    float: left;
    margin-right: 6px;

    &:after {
        content: ':';
        display: inline;
    }
}

.hidden {
    display: none;
}

.button {
    background: $colorButton;
    border: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.main-container {
    margin: 0 auto 40px;
    max-width: 600px;
    min-width: 320px;
    padding: 0 20px;
}

.toggle-content {
    background: #f2f2f2;
    margin: 4px 0 10px;
    padding: 16px;
}

.character-details-list {
    list-style: none;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
}

.character-detail .label {
    display: block;
    text-align: center;
}

.attacks-table {
    width: 100%;

    & thead tr,
    & tbody tr {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 3fr 1fr 2fr;
    }
}

.widgets-wrapper {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    .widget-number-box {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 1fr 40px;

        .widget-value {
            input {
                border: 1px dotted #000;
                font-weight: bold;
                font-size: 24px;
                max-width: 100%;
                padding: 5px;
                text-align: center;

                &.juiced {
                    background: #A9F2E4;
                }

                &.dead {
                    background: crimson;
                    color: #fff;
                }
            }
        }

        .widget-controls {
            svg {
                color: #fff;
            }

            button {
                height: calc(50% - 2px);

                &:first-child {
                    margin-bottom: 2px;
                }

                &:second-child {
                    margin-top: 2px;
                }
            }
        }
    }
}

.three-stat-wrapper {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    margin-bottom: 20px;

    .stat {
        text-align: center;
    }
}

.stat-with-icon {
    position: relative;

    .stat-icon {
        position: absolute;
        height: 80px;
        top: 0px;
        width: 100%;
        z-index: -1;

        svg {
            height: 100%;
            width: auto;
        }
    }

    .stat-label {
        bottom: 0;
        min-width: 40px;
        position: absolute;
        width: 100%;

        .text-wrapper {
            @include labelText();
        }
    }

    .stat-number {
        font-size: 20px;
        left: 50%;
        margin: -30px 0 0 -20px;
        position: absolute;
        top: 50%;

        .text-wrapper {
            @include circleText();
            font-size: 16px;
            height: 40px;
            line-height: 36px;
            width: 40px;
        }
    }
}

.spell-slots {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto 1fr;
    margin-bottom: 10px;

    .label {
        align-self: center;
    }
}

.spell-slot-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.spell-slot {
    display: block;
    flex: 0 0 25px;
    padding: 0 4px;
    width: 25px;
}

.bonus-spell-list {
    list-style: circle;
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;

    .em {
        display: block;
        margin-bottom: 10px;
    }
}

.spell-description {
    p:last-child {
        margin-bottom: 0;
    }
}

.death-saves-wrapper {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 2fr 1fr;
}

.death-saves-table {
    width: 100%;

    tr {
        display: grid;
        grid-template-columns: 150px repeat(3, auto);
    }
}

.monies-counts-wrapper {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.monies-count {
    flex: 0 0 22%;
    padding: 0;
}

.notes {
    textarea {
        font-size: 14px;
    }
}

.skills-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
}

.skills-list-item {
    background: #f2f2f2;
    padding: 6px;
    text-align: center;

    .label {
        display: inline-block;
        margin-bottom: 8px;
    }

    .value {
        display: block;
        font-size: 14px;
        font-weight: bold;

        &.proficient .text-wrapper{
            @include circleTextAlt();
            height: 24px;
            width: 24px;
        }

        &.proficient.doubled .text-wrapper {
            box-shadow: 0 0 0 3px rgba(242, 169, 215, 0.9);
        }
    }
}

.ability-scores {
    margin-bottom: 40px;
}

.ability-score-list {
    border: 2px dotted #000;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
}

.ability-score-list-item {
    border: 2px dotted #000;
    border-left: none;
    border-top: none;
    height: 90px;
    padding: 4px 6px;
    position: relative;
    text-align: center;

    &:nth-child(3) {
        border-right: none;
    }

    &:nth-child(4),
    &:nth-child(5) {
        border-bottom: none;
    }

    &:nth-child(6) {
        border: none;
    }

    .label {
        display: block;
    }

    .value {
        display: block;
        font-size: 28px;
        font-weight: bold;
        line-height: 28px;
        margin-top: 2px;
        width: 100%;
    }

    .modifier {
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;

        .text-wrapper {
            @include circleText();
            font-size: 12px;
            height: 24px;
            width: 24px;
        }

        .text-wrapper-alt {
            @include circleTextAlt();
        }
    }
}
